node_modules
.ipynb_checkpoints
.config
.ipython
.local
data/*.localstorage
data/cookies*
data/*.html
data/signals.*.0.csv
data/timeseries/*.csv
snaps/*.png
config/diff.js
.idea
dockerized-phantomjs.tar.gz