node_modules
.ipynb_checkpoints
.config
.ipython
.local
data/*.localstorage
data/cookies*
data/*.html
data/signals*
data/timeseries/*.csv
data/timeseries.json
snaps/*.png
config/diff.js
.idea
dockerized-phantomjs.tar.gz